#back{
    margin-left: 500px;
}
header{
    background-color: lightblue;
    height:75px;
}
body{
    background-color: lightgray;
}
#routeForm{
    width:500px;
}
.result{
    border: 1px solid black;
    border-radius: 25px;
}